<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://i.imgur.com/GrMNaLu.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../index.scss" />
    <link rel="stylesheet" href="../../css/box.css" />
    <link rel="stylesheet" href="../../css/table.css" />
    <link rel="stylesheet" href="../css/add-semester.css" />
    <link rel="stylesheet" href="../css/progressBar.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <%- include('../nav/nav.ejs') %>
      <main class="main"><%- body %></main>
    </div>
    <script src="../../js/index.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
