<div class="l-form">
  <form action="/add-semester" method="POST" class="form">
    <h1 class="form__title">Add Semester</h1>

    <div class="form__div">
      <input
        type="text"
        name="semesterName"
        class="form__input"
        placeholder=" "
      />
      <label for="" class="form__label">Semester Name</label>
    </div>
    <input type="submit" class="form__button" value="Add" />
  </form>
</div>

