<div class="img">
  <img
    height="600px"
    width="600px"
    src="https://i.imgur.com/sZpMf8Z.png"
    alt=""
  />
</div>

<div class="action">
  <input
    onclick="window.location.href='/dashboard'"
    class="form__button"
    type="button"
    value="Author"
  />
  <input
    onclick="window.location.href='/result'"
    class="form__button"
    type="button"
    value="Student"
  />
</div>
