<style>
.credit{
    text-decoration: none !important;
    color:black;
    text-align: center;
    background-color:#ffc107;
}
.credit a:hover{
  color: black;
}

header{
padding-bottom :40px
}
</style>
<header>
  <div class="credit">Developed by <a href="https://www.khoaiz.com/">Khoaiz</a> | <a href="https://www.linkedin.com/in/khoaiz/">Linkedin </a> | <a href="https://github.com/khoaizahmmed/Shaikh-university"> Github</a> </div>
</div>
	
</header>
<div class="img">
  <img
    height="600px"
    width="600px"
    src="https://i.imgur.com/sZpMf8Z.png"
    alt=""
  />
</div>

<div class="action">
  <input
    onclick="window.location.href='/dashboard'"
    class="form__button"
    type="button"
    value="Author"
  />
  <input
    onclick="window.location.href='/result'"
    class="form__button"
    type="button"
    value="Student"
  />
</div>


