<aside class="nav">
  <div class="burger">
    <span class="line"></span>
  </div>
  <div class="nav__logo">
    <img src="" />
  </div>
  <ul class="menu">
    <a href="/dashboard"
      ><li class="menu__item">
        <span class="menu__icon">
          <img
            height="30px"
            width="30px"
            src="/icon/dashboard.svg"
            alt=""
          /> </span
        >Dashboard
      </li></a
    >
    <a href="/add-student"
      ><li class="menu__item">
        <span class="menu__icon"
          ><img
            height="30px"
            width="30px"
            src="/icon/student.svg"
            alt=""
          /> </span
        >Add Student
      </li></a
    >
    <a href="/add-semester"
      ><li class="menu__item">
        <span class="menu__icon">
          <img
            height="30px"
            width="30px"
            src="/icon/semester.svg"
            alt=""
          /> </span
        >Add Semester
      </li></a
    >
    <a href="/add-subject"
      ><li class="menu__item">
        <span class="menu__icon"
          ><img height="30px" width="30px" src="/icon/book.svg" alt="" /> </span
        >Add Subject
      </li></a
    >
    <a href="/add-semester-by-subject">
      <li class="menu__item">
        <span class="menu__icon"
          ><img
            height="30px"
            width="30px"
            src="/icon/semiBook.svg"
            alt=""
          /> </span
        >Semester By Subject
      </li>
    </a>
    <a href="/mark-distribution">
      <li class="menu__item">
        <span class="menu__icon"
          ><img
            height="30px"
            width="30px"
            src="/icon/score.svg"
            alt=""
          /> </span
        >Mark Distribution
      </li>
    </a>
    <a href="/number-distribution">
      <li class="menu__item">
        <span class="menu__icon"
          ><img
            height="30px"
            width="30px"
            src="/icon/number.svg"
            alt=""
          /> </span
        >Number Distribution
      </li>
    </a>
    <a href="/result">
      <li class="menu__item">
        <span class="menu__icon"
          ><img
            height="30px"
            width="30px"
            src="/icon/results.svg"
            alt=""
          /> </span
        >Result
      </li>
    </a>
  </ul>
</aside>
